-orch==2.1.0+cu118
-pencv-python==4.7.0.68
0x-contract-addresses==3.0.0
0x-contract-artifacts==3.0.0
0x-json-schemas==2.1.0
0x-order-utils==4.0.1
absl-py==2.0.0
accelerate==0.34.2
adal==1.2.7
aiofiles==23.2.1
aiohttp-cors==0.7.0
aiohttp==3.9.4
aioredis==2.0.1
aiosignal==1.3.1
albumentations==1.3.0
ale-py==0.8.1
alembic==1.13.1
altair==4.2.2
aniso8601==9.0.1
annotated-types==0.6.0
ansicon==1.89.0
antlr4-python3-runtime==4.8
antlr4-tools==0.2.1
anyio==3.7.1
apache-beam==2.54.0
appdirs==1.4.4
appnope==0.1.3
argcomplete==3.2.1
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
atari-py==0.2.9
attrs==23.1.0
autorom.accept-rom-license==0.6.1
autorom==0.6.1
azure-ai-ml==1.17.1
azure-common==1.1.28
azure-core==1.30.2
azure-graphrbac==0.61.1
azure-identity==1.17.1
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.0
azure-mgmt-network==25.4.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.1
azure-storage-blob==12.20.0
azure-storage-file-datalake==12.15.0
azure-storage-file-share==12.16.0
azureml-core==1.56.0
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.2
azureml-dataprep==5.1.6
babel==2.13.1
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.1
bcrypt==4.1.3
beautifulsoup4==4.11.2
bert-score==0.3.13
bitarray==2.9.2
bitsandbytes==0.39.0
bleach==6.0.0
blessed==1.20.0
blinker==1.8.2
blis==0.7.11
boto==2.49.0
brotlipy==0.7.0
cachetools==5.3.0
catalogue==2.0.10
cbor2==5.6.2
certifi==2022.12.7
cffi==1.16.0
characterai==0.8.0
chardet==4.0.0
charset-normalizer==2.1.1
clean-text==0.6.0
cleanrl==1.2.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
colorama==0.4.6
colorful==0.5.6
colorlog==6.8.0
comm==0.2.0
confection==0.1.4
contextlib2==21.6.0
contourpy==1.2.0
convokit==3.0.0
crcmod==1.7
cryptography==41.0.7
curl-cffi==0.6.2
cycler==0.11.0
cymem==2.0.8
cython==3.0.0
cytoolz==0.12.3
d4rl-atari==0.1
dacite==1.8.1
dadaptation==3.1
dataproperty==1.0.1
datasets==2.18.0
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
deprecated==1.2.14
diffusers==0.18.2
dill==0.3.8
dm-env==1.6
dm-tree==0.1.8
dnspython==2.5.0
docker-pycreds==0.4.0
docker==7.1.0
docopt==0.6.2
docstring-parser==0.15
easygui==0.98.3
einops==0.6.0
emoji==1.7.0
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.7.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
etils==1.5.2
exceptiongroup==1.1.3
executing==1.2.0
fairscale==0.4.13
farama-notifications==0.0.4
fastapi==0.104.1
fastavro==1.9.4
fasteners==0.19
fastjsonschema==2.18.0
ffmpy==0.3.2
filelock==3.12.2
fire==0.5.0
flash-attention==1.0.0
flask==3.0.3
flatbuffers==24.3.7
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.12.2
ftfy==6.1.1
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
gitdb==4.0.11
gitpython==3.1.40
glcontext==2.5.0
glfw==1.12.0
google-ai-generativelanguage==0.4.0
google-api-core==2.11.0
google-apitools==0.5.32
google-auth-oauthlib==1.0.0
google-auth==2.15.0
google-cloud-texttospeech==2.14.2
google-cloud==0.34.0
google-generativeai==0.4.1
google-pasta==0.2.0
google-reauth==0.1.1
google==3.0.0
googleapis-common-protos==1.57.0
gpustat==1.1.1
gradio-client==0.6.1
gradio==3.36.1
grandalf==0.8
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpcio-status==1.59.2
grpcio==1.59.2
gsutil==5.27
gtts==2.4.0
gym-notices==0.0.8
gym3==0.3.3
gym==0.26.2
gymnasium-robotics==1.2.4
gymnasium==0.29.1
h11==0.14.0
h5py==3.10.0
hdfs==2.7.3
hexbytes==0.3.1
highway-env==1.8.2
httpcore==1.0.4
httplib2==0.20.4
httpx==0.27.0
huggingface-hub==0.24.7
huggingface-sb3==3.0
humanfriendly==10.0
idna==3.4
imageio-ffmpeg==0.3.0
imageio==2.34.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
install-jdk==1.1.0
invisible-watermark==0.2.0
ipfshttpclient==0.8.0a2
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
iso8601==1.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.25
jdcal==1.4.1
jedi==0.18.2
jeepney==0.8.0
jieba==0.42.1
jinja2==3.1.2
jinxed==1.2.1
jmespath==1.0.1
joblib==1.2.0
js2py==0.74
json5==0.9.14
jsonpickle==3.0.3
jsonpointer==2.4
jsonschema-specifications==2023.7.1
jsonschema==4.22.0
jupyter-client==8.6.0
jupyter-console==6.6.3
jupyter-core==5.5.0
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter-server-terminals==0.4.4
jupyter-server==2.10.0
jupyter==1.0.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.25.1
jupyterlab-widgets==3.0.9
jupyterlab==4.0.8
keras==2.12.0
keyboard==0.13.5
kiwisolver==1.4.4
knack==0.11.0
lab==8.0
labmaze==1.0.6
langcodes==3.3.0
lazy-loader==0.3
libclang==16.0.6
lightning-utilities==0.10.1
linkify-it-py==2.0.3
lion-pytorch==0.0.6
llmtuner==0.5.3
lru-dict==1.2.0
lxml==5.1.0
lycoris-lora==1.8.0
lz4==3.1.3
mako==1.3.0
markdown-it-py==2.2.0
markdown==3.5.1
markupsafe==2.1.3
marshmallow==3.21.3
matplotlib-inline==0.1.6
matplotlib==3.8.1
mbstrdecoder==1.1.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.1
ml-dtypes==0.3.2
mlflow==2.14.2
mltable==1.6.1
moderngl==5.8.2
monotonic==1.6
mouseinfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msal-extensions==1.2.0
msal==1.29.0
msgpack-numpy==0.4.8
msgpack==1.0.7
msrest==0.7.1
msrestazure==0.6.4
mujoco==2.3.7
multiaddr==0.0.9
multidict==6.0.4
multiprocess==0.70.16
multithreading==0.2.0
murmurhash==1.0.10
mypy-extensions==0.4.4
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
ndg-httpsclient==0.5.1
nest-asyncio==1.5.8
netaddr==1.2.1
netgraph==4.13.2
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
notebook-shim==0.2.3
notebook==7.0.6
numpy==1.23.3
nvidia-ml-py==12.535.133
oauth2client==4.1.3
oauthlib==3.2.2
objsize==0.7.0
omegaconf==2.1.1
open-clip-torch==2.20.0
openai==0.26.5
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opencensus==0.11.4
opencv-python-headless==4.9.0.80
opencv-python==4.7.0.68
openpyxl==3.0.5
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opt-einsum==3.3.0
optuna==3.5.0
orjson==3.9.15
overrides==7.4.0
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.0
paramiko==3.4.0
parsimonious==0.8.1
parso==0.8.3
pathspec==0.12.1
pathtools==0.1.2
pathvalidate==3.2.0
peft==0.9.0
pettingzoo==1.24.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.5.0
pip==23.3.2
pkginfo==1.11.1
platformdirs==3.10.0
plotly==5.20.0
pluggy==1.4.0
pokegym==0.1.8
portalocker==2.10.0
portpicker==1.6.0
preshed==3.0.9
prodigyopt==1.0
proglog==0.1.10
prometheus-client==0.18.0
prompt-toolkit==3.0.38
proto-plus==1.22.3
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
py4j==0.10.9.7
pyarrow-hotfix==0.6
pyarrow==15.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyaudio==0.2.14
pyautogui==0.9.54
pyboy==1.6.11
pycparser==2.21
pycryptodome==3.20.0
pydantic-core==2.14.5
pydantic==2.5.2
pydash==8.0.1
pydirectinput==1.0.4
pydot==1.4.2
pydub==0.25.1
pyee==9.1.1
pygame==2.1.0
pygetwindow==0.0.9
pyglet==2.0.10
pygments==2.15.1
pyjsparser==2.7.1
pyjwt==2.8.0
pymerkle==2.0.2
pymongo==4.6.1
pymsgbox==1.0.9
pynacl==1.5.0
pynput==1.7.6
pyodbc==4.0.32
pyopengl==3.1.7
pyopenssl==23.3.0
pyparsing==3.1.0
pyperclip==1.8.2
pyre-extensions==0.0.29
pyreadline3==3.4.1
pyrect==0.2.0
pyrsistent==0.20.0
pyscreeze==0.1.30
pysdl2-dll==2.28.0
pysdl2==0.9.15
pysocks==1.7.1
pyspark==3.5.1
pytablewriter==1.2.0
pytest==8.0.2
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
python-vlc==3.0.20123
pytorch-lightning==1.9.0
pytweening==1.0.7
pytz==2022.7.1
pyu2f==0.1.5
pyunormalize==15.1.0
pywavelets==1.4.1
pywin32==306
pywinpty==2.0.12
pyyaml==6.0.1
pyzmq==25.1.1
qtconsole==5.5.0
qtpy==2.4.1
qudida==0.0.4
querystring-parser==1.2.4
ray==1.4.1
rectangle-packer==2.0.2
redis==5.0.3
referencing==0.30.2
regex==2023.10.3
requests-oauthlib==1.3.1
requests==2.31.0
retry-decorator==1.1.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.1
rl-zoo3==2.2.1
rlp==2.0.1
rouge-chinese==1.0.3
rouge-score==0.1.2
rouge==1.0.1
rpds-py==0.9.2
rsa==4.7.2
s2clientprotocol==5.0.12.91115.0
safetensors==0.4.5
sb3-contrib==2.2.1
sc2==0.11.2
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.10.0
seaborn==0.13.2
secretstorage==3.3.3
semantic-version==2.10.0
send2trash==1.8.2
sentence-transformers==3.1.0
sentencepiece==0.1.99
sentry-sdk==1.38.0
setproctitle==1.3.3
setuptools==65.0.0
shimmy==1.3.0
shtab==1.6.5
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.4.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.2
speechrecognition==3.10.0
sqlalchemy==2.0.25
sqlparse==0.5.0
srsly==2.4.8
sse-starlette==2.0.0
stable-baselines3==2.2.1
stack-data==0.6.3
starlette==0.27.0
strictyaml==1.7.3
stringcase==1.2.0
style==1.1.0
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.4
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.12.3
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.12.0
termcolor==2.3.0
terminado==0.18.0
thinc==8.2.2
thirdweb-contract-wrappers==2.0.4
thirdweb-eth-account==0.6.6
thirdweb-sdk==3.1.1
threadpoolctl==3.1.0
tifffile==2022.10.10
tiktoken==0.6.0
timm==0.6.12
tinycss2==1.2.1
tk==0.1.0
tls-client==1.0.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.1+cu121
torchaudio==2.2.1+cu121
torchmetrics==1.3.1
torchvision==0.17.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
transformers==4.44.2
trl==0.7.11
twitchio==2.5.0
txt2tags==3.9
typepy==1.3.2
typer==0.9.0
types-python-dateutil==2.8.19.14
typing-extensions==4.8.0
typing-inspect==0.9.0
tyro==0.6.6
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.3
unidecode==1.3.8
update==0.0.1
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.24.0.post1
varint==1.0.2
voluptuous==0.13.1
waitress==3.0.0
wandb==0.15.0
wasabi==1.1.2
wave==0.0.2
wcwidth==0.2.13
weasel==0.3.4
web3==5.27.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==9.1
werkzeug==3.0.1
wheel==0.43.0
widgetsnbextension==4.0.9
wincertstore==0.2
wrapt==1.14.1
xformers==0.0.20
xgboost==2.1.0
xlrd==1.2.0
xxhash==3.4.1
yarl==1.8.2
zipp==3.17.0
zstandard==0.22.0